<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">

  <property name="LoggingDir" value="/usr/local/tomcat7/logs/" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <file>${LoggingDir}ad.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LoggingDir}history/ad.%d{yyyy-MM-dd}.gz
      </fileNamePattern>
      <maxHistory>365</maxHistory>
    </rollingPolicy>
    <encoder>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{0} - %msg \(%file:%line\)%n</Pattern>
    </encoder>
  </appender>

  <appender name="AD" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <file>${LoggingDir}adtruth.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LoggingDir}history/adtruth.%d{yyyy-MM-dd}.gz
      </fileNamePattern>
      <maxHistory>365</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MMM-dd HH:mm:ss}\t%msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="MAIL" class="ch.qos.logback.classic.net.SMTPAppender">
    <smtpHost>trelay1.lo.infoq.jp</smtpHost>
    <from>system_dev_itst@gmo-research.jp</from>
    <to>system_dev_itst@gmo-research.jp</to>
    <subject>test mail</subject>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level %marker %logger - %msg%n></pattern>
    </layout>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <appender name="AD_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="AD" />
    <discardingThreshold>25</discardingThreshold>
  </appender>

  <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
    <discardingThreshold>25</discardingThreshold>
  </appender>

  <logger name="jp.gmor.research.ad" level="debug">
    <appender-ref ref="AD_ASYNC" />
  </logger>
  <logger name="org.springframework" level="info">
    <appender-ref ref="FILE_ASYNC" />
  </logger>

  <root level="degug">
    <appender-ref ref="FILE_ASYNC" />
    <appender-ref ref="MAIL" />
  </root>
</configuration>
